VITE_AUTH_SERVICE_URL=http://localhost:0000
VITE_QUERY_SERVICE_SERVICE_URL=http://localhost:0000
VITE_COMMAND_SERVICE_SERVICE_URL=http://localhost:0000
VITE_APPOINTMENT_SERVICE_URL=http://localhost:0000
VITE_INVOICE_SERVICE_URL=http://localhost:0000
